<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Most Recent Rover Image</title>
</head>
<body>
    <h1>Most Recent Rover Image</h1>
    <img src="{{ imageUrl }}" alt="Most Recent Rover Image" />
</body>
</html>